.homeDiv {
    padding: 1.25em 1.5em 1.5em 1.5em;
}

.infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
}

.toc {
    display: table;
    zoom: 1;
    padding: 7px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    font-size: 95%;
}

.toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
}

.toc ul ul {
    margin: 0 0 0 2em;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

div.thumbinner {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}

a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.mbox-image, .mbox-text {
    display: none;
}

.tright {
    margin: 0.5em 0 1.3em 1.4em;
    clear: right;
    float: right;
}
.tleft {
    margin: 0.5em 0 1.3em 1.4em;
    clear: left;
    float: left;
}

.mw-editsection {
    display: none;
}

.hatnote {
    display: none;
}
