.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}


.SidebarDiv {
    text-align: left;
    width: 250px !important;
    height: 96vh;
    float: left;
    overflow-y: scroll;
}

.homeDiv {
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
}

.SidebarBtn {
    max-height: 41px;
}


html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
